h1{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.info{
    padding:100px 50px;
}

hr{
    width:5%;
    border: solid 1.5px #7f0909;
}

.info-text{
    text-align: center;
    width: 70%;
    color: #9b9595;
}

.img-wrapper {
    position: relative;
    width: 100%;
   }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 20%;
  }
.navbar-custom{
  position: fixed;
  width:100%;

}
.nav-link{
  color:#ffffff;
}
