<html lang="en">

<head>
        {% extends "base.html" %}
		{% load staticfiles %}
		{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty</title>
    {% endblock %}        

</head>

<body>
        {% block content %}
    <div class="container">
            {% for person in fcb.all %}
            {% if forloop.first %}
        <div class="row">{% endif %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="span3 well">
                    <center>
                        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{ person.Image.url }}"
                                name="aboutme" width="140" height="140" class="img-circle"></a>
                        
                                <h3>{{ person.Name }}</h3>
                                <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><div class="btn btn-primary">View Profile</div></a>
                    </center>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                            </div>
                            <div class="modal-body">
                                <center>
                                    <img src="{{ person.Image.url }}"
                                        name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                    <h3 class="media-heading">{{ person.Name }}</h3>
                                    <h6><small>{{ person.Post }}</small></h6>
                                    <h6>Department of Computer Science & Engineering</h6>
                                    <h6><small>{{ person.Qualifications|linebreaksbr }}</small></h6>
                                    



                                </center>
                                <hr>

                                <p class="text-left"><strong>Adress
                                    </strong><br>
                                    <ul>
                                        <li><strong>Residential Address :</strong>{{ person.Address }}</li>
                                        <li><strong>Phone Number :</strong>{{ person.Phone }}</li>
                                        <li><strong>Mobile Number :</strong> {{ person.Mobile }}</li>
                                        <li><strong>E-mail :</strong> <a href="mailto:bksingh.cse@nitjsr.ac.in" class="pagelink">{{ person.Email }}</a></li>
                                    </ul>
                                    <br>
                                    <hr>

                                    <p class="text-left"><strong>Area of Research Interest
                                        </strong><br><p>
                                        {{ person.Interestslist|linebreaksbr }}</p>
                                        <br>

                            </div>
                            <div class="modal-footer">
                                <center>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">{% endif %}{% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>

    {% endblock %} 

   
</body>

</html>